:root {


  /* Layout */
  --site-width: 1040px;


  /* Colors Global*/
  --Main-color: #FF5503;
  --Global-blue-100: #003FB7;
  --Global-blue-200: #4880EE;
  --Global-blue-300: #BCF2FF;
  --Global-blue-400: #DFFBFC;
  --Global-brown-100: #62513C;
  --Global-brown-200: #957F64;
  --Global-brown-300: #F4F4E2;
  --Global-brown-400: #FBE5B9;
  --Global-green-100: #12A852;
  --Global-green-200: #86C79C;
  --Global-green-300: #90DD2E;
  --Global-green-400: #BDEB9A;
  --Global-orange-100: #FF5503;
  --Global-orange-200: #FCB96C;
  --Global-orange-300: #EE7738;
  --Global-orange-400: #FF9000;
  --Global-purple-100: #6A4290;
  --Global-purple-200: #BA90D4;
  --Global-purple-300: #6D0AD3;
  --Global-purple-400: #BA69DE;
  --Global-red-100: #D03C37;
  --Global-red-200: #ED615D;
  --Global-red-300: #FACCCC;
  --Global-red-400: #FFE6E6;
  --Global-yellow-100: #FAE69B;
  --Global-yellow-200: #EEECBF;
  --Global-yellow-300: #FFCD19;
  --Global-yellow-400: #F9ED69;

  /* Color Tokens */
  --Blue-10: #EDF5FF;
  --Blue-20: #D0E2FF;
  --Blue-30: #A6C8FF;
  --Blue-40: #78A9FF;
  --Blue-50: #4589FF;
  --Blue-60: #0F62FE;
  --Blue-70: #0043CE;
  --Blue-80: #002D9C;
  --Blue-90: #001D6C;
  --Blue-100: #001141;
  --CoolGray-10: #F2F4F8;
  --CoolGray-20: #DDE1E6;
  --CoolGray-30: #C1C7CD;
  --CoolGray-40: #A2A9B0;
  --CoolGray-50: #878D96;
  --CoolGray-60: #697077;
  --CoolGray-70: #4D5358;
  --CoolGray-80: #343A3F;
  --CoolGray-90: #21272A;
  --CoolGray-100: #121619;
  --Cyan-10: #E5F6FF;
  --Cyan-20: #BAE6FF;
  --Cyan-30: #82CFFF;
  --Cyan-40: #33B1FF;
  --Cyan-50: #1192E8;
  --Cyan-60: #0072C3;
  --Cyan-70: #00539A;
  --Cyan-80: #003A6D;
  --Cyan-90: #012749;
  --Cyan-100: #061727;
  --Gray-10: #F4F4F4;
  --Gray-20: #E0E0E0;
  --Gray-30: #C6C6C6;
  --Gray-40: #A8A8A8;
  --Gray-50: #8D8D8D;
  --Gray-60: #6F6F6F;
  --Gray-70: #525252;
  --Gray-80: #393939;
  --Gray-90: #262626;
  --Gray-100: #161616;
  --Green-10: #DEFBE6;
  --Green-20: #A7F0BA;
  --Green-30: #6FDC8C;
  --Green-40: #42BE65;
  --Green-50: #24A148;
  --Green-60: #198038;
  --Green-70: #0E6027;
  --Green-80: #044317;
  --Green-90: #022D0D;
  --Green-100: #071908;
  --Magenta-10: #FFF0F7;
  --Magenta-20: #FFD6E8;
  --Magenta-30: #FFAFD2;
  --Magenta-40: #FF7EB6;
  --Magenta-50: #EE5396;
  --Magenta-60: #D02670;
  --Magenta-70: #9F1853;
  --Magenta-80: #740937;
  --Magenta-90: #510224;
  --Magenta-100: #2A0A18;
  --Neutral-Black: #000000;
  --Neutral-White: #FFFFFF;
  --Orange-10: #FFF2E8;
  --Orange-20: #FFD9BE;
  --Orange-30: #FFB784;
  --Orange-40: #FF832B;
  --Orange-50: #EB6200;
  --Orange-60: #BA4E00;
  --Orange-70: #8A3800;
  --Orange-80: #5E2900;
  --Orange-90: #3E1A00;
  --Orange-100: #231000;
  --Purple-10: #F6F2FF;
  --Purple-20: #E8DAFF;
  --Purple-30: #D4BBFF;
  --Purple-40: #BE95FF;
  --Purple-50: #A56EFF;
  --Purple-60: #8A3FFC;
  --Purple-70: #6929C4;
  --Purple-80: #491D8B;
  --Purple-90: #31135E;
  --Purple-100: #1C0F30;
  --Red-10: #FFF1F1;
  --Red-20: #FFD7D9;
  --Red-30: #FFB3B8;
  --Red-40: #FF8389;
  --Red-50: #FA4D56;
  --Red-60: #DA1E28;
  --Red-70: #A2191F;
  --Red-80: #750E13;
  --Red-90: #520408;
  --Red-100: #2D0709;
  --Teal-10: #D9FBFB;
  --Teal-20: #9EF0F0;
  --Teal-30: #3DDBD9;
  --Teal-40: #08BDBA;
  --Teal-50: #009D9A;
  --Teal-60: #007D79;
  --Teal-70: #005D5D;
  --Teal-80: #004144;
  --Teal-90: #022B30;
  --Teal-100: #081A1C;
  --WarmGray-10: #F7F3F2;
  --WarmGray-20: #E5E0DF;
  --WarmGray-30: #CAC5C4;
  --WarmGray-40: #ADA8A8;
  --WarmGray-50: #8F8B8B;
  --WarmGray-60: #726E6E;
  --WarmGray-70: #565151;
  --WarmGray-80: #3C3838;
  --WarmGray-90: #272525;
  --WarmGray-100: #171414;
  --Yellow-10: #FCF4D6;
  --Yellow-20: #FDDC69;
  --Yellow-30: #F1C21B;
  --Yellow-40: #D2A106;
  --Yellow-50: #B28600;
  --Yellow-60: #8E6A00;
  --Yellow-70: #684E00;
  --Yellow-80: #483700;
  --Yellow-90: #302400;
  --Yellow-100: #1C1500;
  -s-Hover-Blue-10: #DBEBFF;
  -s-Hover-Blue-20: #B8D3FF;
  -s-Hover-Blue-30: #8AB6FF;
  -s-Hover-Blue-40: #5C97FF;
  -s-Hover-Blue-50: #1F70FF;
  -s-Hover-Blue-60: #0050E6;
  -s-Hover-Blue-70: #0053FF;
  -s-Hover-Blue-80: #0039C7;
  -s-Hover-Blue-90: #00258A;
  -s-Hover-Blue-100: #001F75;
  -s-Hover-CoolGray-10: #E4E9F1;
  -s-Hover-CoolGray-20: #CDD3DA;
  -s-Hover-CoolGray-30: #ADB5BD;
  -s-Hover-CoolGray-40: #9199A1;
  -s-Hover-CoolGray-50: #757B85;
  -s-Hover-CoolGray-60: #585E64;
  -s-Hover-CoolGray-70: #5D646A;
  -s-Hover-CoolGray-80: #434A51;
  -s-Hover-CoolGray-90: #2B3236;
  -s-Hover-CoolGray-100: #121619;
  -s-Hover-Cyan-10: #CCEEFF;
  -s-Hover-Cyan-20: #99DAFF;
  -s-Hover-Cyan-30: #57BEFF;
  -s-Hover-Cyan-40: #059FFF;
  -s-Hover-Cyan-50: #0F7EC8;
  -s-Hover-Cyan-60: #005FA3;
  -s-Hover-Cyan-70: #0066BD;
  -s-Hover-Cyan-80: #00498A;
  -s-Hover-Cyan-90: #013360;
  -s-Hover-Cyan-100: #061727;
  -s-Hover-Gray-10: #E8E8E8;
  -s-Hover-Gray-20: #D1D1D1;
  -s-Hover-Gray-30: #B5B5B5;
  -s-Hover-Gray-40: #999999;
  -s-Hover-Gray-50: #7A7A7A;
  -s-Hover-Gray-60: #5E5E5E;
  -s-Hover-Gray-70: #636363;
  -s-Hover-Gray-80: #474747;
  -s-Hover-Gray-90: #333333;
  -s-Hover-Gray-100: #292929;
  -s-Hover-Green-10: #B6F6C8;
  -s-Hover-Green-20: #74E792;
  -s-Hover-Green-30: #36CE5E;
  -s-Hover-Green-40: #3BAB5A;
  -s-Hover-Green-50: #208E3F;
  -s-Hover-Green-60: #166F31;
  -s-Hover-Green-70: #11742F;
  -s-Hover-Green-80: #05521C;
  -s-Hover-Green-90: #033B11;
  -s-Hover-Green-100: #071908;
  -s-Hover-Magenta-10: #FFE0EF;
  -s-Hover-Magenta-20: #FFBDDA;
  -s-Hover-Magenta-30: #FF94C3;
  -s-Hover-Magenta-40: #FF57A0;
  -s-Hover-Magenta-50: #E3176F;
  -s-Hover-Magenta-60: #B0215F;
  -s-Hover-Magenta-70: #BF1D63;
  -s-Hover-Magenta-80: #8E0B43;
  -s-Hover-Magenta-90: #68032E;
  -s-Hover-Magenta-100: #2A0A18;
  -s-Hover-Neutral-Black: #212121;
  -s-Hover-Neutral-White: #FFFFFF;
  -s-Hover-Orange-10: #FFE2CC;
  -s-Hover-Orange-20: #FFC69E;
  -s-Hover-Orange-30: #FF9D57;
  -s-Hover-Orange-40: #FA6800;
  -s-Hover-Orange-50: #CC5500;
  -s-Hover-Orange-60: #9E4200;
  -s-Hover-Orange-70: #A84400;
  -s-Hover-Orange-80: #753300;
  -s-Hover-Orange-90: #522200;
  -s-Hover-Orange-100: #421E00;
  -s-Hover-Purple-10: #EDE5FF;
  -s-Hover-Purple-20: #DCC7FF;
  -s-Hover-Purple-30: #C5A3FF;
  -s-Hover-Purple-40: #AE7AFF;
  -s-Hover-Purple-50: #9352FF;
  -s-Hover-Purple-60: #7822FB;
  -s-Hover-Purple-70: #7C3DD6;
  -s-Hover-Purple-80: #5B24AD;
  -s-Hover-Purple-90: #40197B;
  -s-Hover-Purple-100: #1C0F30;
  -s-Hover-Red-10: #FFE0E0;
  -s-Hover-Red-20: #FFC2C5;
  -s-Hover-Red-30: #FF99A0;
  -s-Hover-Red-40: #FF6168;
  -s-Hover-Red-50: #EE0713;
  -s-Hover-Red-60: #B81922;
  -s-Hover-Red-70: #C21E25;
  -s-Hover-Red-80: #921118;
  -s-Hover-Red-90: #66050A;
  -s-Hover-Red-100: #2D0709;
  -s-Hover-Teal-10: #ACF6F6;
  -s-Hover-Teal-20: #57E5E5;
  -s-Hover-Teal-30: #25CAC8;
  -s-Hover-Teal-40: #07ABA9;
  -s-Hover-Teal-50: #008A87;
  -s-Hover-Teal-60: #006B68;
  -s-Hover-Teal-70: #007070;
  -s-Hover-Teal-80: #005357;
  -s-Hover-Teal-90: #033940;
  -s-Hover-Teal-100: #0F3034;
  -s-Hover-WarmGray-10: #F0E8E6;
  -s-Hover-WarmGray-20: #D8D0CF;
  -s-Hover-WarmGray-30: #B9B3B1;
  -s-Hover-WarmGray-40: #9C9696;
  -s-Hover-WarmGray-50: #7F7B7B;
  -s-Hover-WarmGray-60: #605D5D;
  -s-Hover-WarmGray-70: #696363;
  -s-Hover-WarmGray-80: #4C4848;
  -s-Hover-WarmGray-90: #343232;
  -s-Hover-WarmGray-100: #171414;
  -s-Hover-Yellow-10: #F8E6A0;
  -s-Hover-Yellow-20: #FCCD27;
  -s-Hover-Yellow-30: #DDB00E;
  -s-Hover-Yellow-40: #BC9005;
  -s-Hover-Yellow-50: #9E7700;
  -s-Hover-Yellow-60: #755800;
  -s-Hover-Yellow-70: #806000;
  -s-Hover-Yellow-80: #5C4600;
  -s-Hover-Yellow-90: #3D2E00;
  -s-Hover-Yellow-100: #1C1500

}